a:hover {
    color:red;
}
html:active {
    background: yellow;
}
h1::before { /* "<<"*/
    content: "\00AB\0020";
}
h1:after { /*">>"*/
    content:"\0020\00BB"
}
tr:nth-child(2n+1) {
    background: #95313b;
    color: #fff;
}
p:nth-of-type(2) {
    background: #95313b;
    color: #fff;
}