div.items a{
    color:red;
    font-weight: bold;
    list-style-type:none;
}
p + p {
    font-style:italic ;
    font-weight: bold;
}
div > span {
    background: dodgerblue;
}
span{background: #fff;}
a[title="menu"]{
    text-decoration: none;
    color: #969696;
    font-size: 22px;
}
